
<form class = "comment-form">
  <div class="form-group">
    <label for="comment-input">Add Comment: </label>
    <textarea class="form-control" id="comment-input" rows="3"></textarea>
  </div>
  <button data={{id}} type="submit" class="btn btn-primary submit-buttons">submit</button>
</form>

{{#if comments}}
  {{#each comments}}
      <ul class="list-group list-group-dividered list-group-full">
        <li class="list-group-item dash-feed" >
          <div data={{../id}} class="media">
            <div class="media-body row" >
              <div class = "col">
                <p id="username" >{{user.username}} on </p>
              </div>
              <div class = "col">
                <p class="text-right small-text"> {{format_date date_created}}</p>
              </div>
              <div  id ="content">{{content}}</div>
            </div>
          </div>
        </li>
      </ul>
  {{/each}}
{{else}}
<p>No comments at this time</p>
{{/if}}

