
<div class="flex-column container post-feed"> 

  <button class = "show-new-post" style="display: " id="post-btn">New Post</button>
  <form class = "comment-form">
    <div class="form-group new-post-group" style="display: none">
      <label for="title-post">Title:</label>
      <input class="form-input" type="text" id="title-post" />
      <label for="post-input">New Post: </label>
      <textarea class="form-control" id="post-input" rows="3"></textarea>
      <button type="submit" class="btn btn-primary submit-buttons post-button">submit</button>
    </div>
  </form>
  
  {{#each posts}}
    <ul class="list-group list-group-dividered list-group-full">
      <li class="list-group-item dash-feed" data={{id}}>
        <div class="media">
          <div class="media-body row" >
            <div class = "col">
               <h4 class="media-heading">{{title}}</h4>
            </div>
            <div class = "col">
              <p class="text-right small-text"> <span id="username" >{{user.name}} on </span>{{format_date date_created}}</p>
            </div>
            <div class = "content" id ="content">{{content}}</div>
          </div>
        </div>
        <button class = "edit-buttons" id="edit-btn">edit</button>
        <button class = "delete-buttons" id="delete-btn">delete</button>
      </li>
    </ul>
  {{/each}}
</div>