
<div class="flex-column container post-feed"> 
  {{#each posts}}
    <ul class="list-group list-group-dividered list-group-full">
      <li class="list-group-item dash-feed" data={{id}}>
        <div class="media">
          <div class="media-body row" >
            <div class = "col">
               <h4 class="media-heading">{{title}}</h4>
            </div>
            <div class = "col">
              <p class="text-right small-text hidden"> <span style="display: none" id="username" >@{{username}} on </span>{{format_date date_created}}</p>
            </div>
            <div style="display: none" id ="content">{{content}}</div>
          </div>
        </div>
        <div class = "home-buttons">
          <button class = "com-buttons" style="display: none" id="comment-btn">comment</button>
          <button class = "hide-buttons" style="display: none" id="hide-btn">hide</button>
        </div>
        <div style="display: none" id ="comments">
          {{>comments}}
        </div>
      </li>
    </ul>
  {{/each}}
</div>